@model MyProject.Domain.ViewModels.ProductVM

<form method="post" asp-area="Admin" asp-action="CreateUpdate" asp-controller="Product" enctype="multipart/form-data">
    <input type="hidden" asp-for="Product.Id" />
    <input type="hidden" asp-for="Product.CreatedAt" value="@System.DateTime.UtcNow" />
    <input type="hidden" asp-for="Product.ImageUrl" />

   

    <div class="border p-3 mt-4">
        <div pb-3>
            <div col-md-4>
                <h4>@((Model.Product == null || Model.Product.Id == 0) ? "Create" : "Update") Product</h4>
            </div>
             <div col-md-4>
                @if (@Model.Product.FileData != null || @Model.Product.ImageUrl != null)
                {
                    <div class="col-md-6">

                        @{
                            var base64 = Convert.ToBase64String(@Model.Product.FileData);
                            var FileSrc = string.Format("data:image/gif;base64,{0}", base64);
                        }
                        <img src="@FileSrc" class="rounded" width="100" height="100" alt="@Html.DisplayFor(x=>x.Product.ImageUrl)" />

                    </div>
                }
            </div>
            <hr />
        </div>
        <div row mb-3>
            <label asp-for="Product.Name"> </label>
            <input asp-for="Product.Name" type="text" class="form-control" />
        </div>
        <div row mb-3>
            <label asp-for="Product.Description"> </label>
            <input asp-for="Product.Description" type="text" class="form-control" />
        </div>
        <div row mb-3>
            <label asp-for="Product.Price"> </label>
            <input asp-for="Product.Price" type="number" class="form-control" />
        </div>
        <div row mb-3>
            <label asp-for="Product.ImageUrl"> </label>
            <input type="file" id="ImageFile" name="file" class="form-control" />
        </div>
        <div row mb-3>
            <label asp-for="Product.CategoryId"> </label>
            <select asp-for="Product.CategoryId" asp-items="@Model.Categories" class="form-select">
                <option selected disabled>Select Category</option>
            </select>
        </div>
        <button class="btn btn-primary" onclick="return ValidateEmpty()" style="margin:20px" type="submit"> @((Model.Product == null || Model.Product.Id == 0) ? "Create" : "Update") </button>
    </div>
</form>

@section Scripts{
    <script>
        function ValidateEmpty() {
            if (document.getElementById("ImageFile").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Upload Image!',
                });
                return false;
            }
            return true;
        }
    </script>
            }